body{
    background-color: black;
    color: white;
}

header, footer{
    text-align: center;
}

div{
    display:inline-block;
}


img{
    max-width: 12.5em;
}

section{
    padding: 0.5em;
}

p{
    color: yellow;
    font-size: 1.2em;
}