body{
    background-color: black;
    color: white;
}

header, footer{
    text-align: center;
}

h1{
    font-size:3em;
}

img{
    width: 25%;
}

section{
    padding: 0.5em;
}

p{
    color: yellow;
    font-size: 1.2em;
}